.header {
  min-height: 55px;
  display: flex;
  justify-content: center;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
  border-radius: 3px;

  .product {
    flex-grow: 10;
    margin: auto;
    display: flex;
    gap: 2rem;
  }
  .unit-price {
    flex-grow: 3;
    margin: auto;
  }
  .qty {
    flex-grow: 3;
    margin: auto;
  }
  .price {
    flex-grow: 3;
    margin: auto;
  }
  .action {
    flex-grow: 2;
    margin: auto;
  }
}

.shop {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}
